{% extends 'crud/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Document</title>
</head>
<body>
    <div class="container mt-4">
        <h2 class="mb-4">Edit Document</h2>
        <form action="{% url 'update' id=form.instance.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-secondary">Save</button>
        </form>
    </div>
</html>
{% endblock content %}
